@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Tinos:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 16px;
  }

  body {
    width: 100%;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    position: relative;
  }

  h1, h2, h3, h5 {
    font-family: 'Tinos', serif;
    font-weight: 700;
    color: #0070bb;
    margin-bottom: 2rem;
  }
  
  h1 {
    font-size: 3rem;
  }

  h2 {
        font-size: 2.65rem;
  }

  h3 {
    font-size: 2.1rem;
    color:white;
    line-height: 2.5rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  span, .clientbutton {
    font-family: 'Open Sans', sans-serif;
    color: #0070bb;
    font-weight: 700;
  }

  .container {
    width: 81.93%;
    margin: 0 auto;
  }

  .flex {
    display: flex;
  }

  .herotxt, .row4txt {
    width: 35.4%;
    background-color:rgba(0, 0, 0, 0.8);
    padding: 1rem;
    text-align: center;
  }


  /* HEADER*/


  header {
    background-image:url(../desktop-assets/bgHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15% 30%;
  }

  .contact {
    background-color: black;
    padding: 1rem;
  }

  .contact .container {
    justify-content: flex-end;
  }

  .contact p, .contact a {
    text-decoration: none;
    border-right: 0.063rem solid rgb(255, 255, 255);
    margin-right: 1%;
    color: white;
    padding-right: 0.75rem;
  }

  .contact a:hover {
    color:#0070bb;
  }



  /* NAV*/



  nav {
    padding: 1.3rem 0rem;
  }

  nav ul {
    list-style: none;
    justify-content: flex-end;
    width: 72%;
    align-items: flex-end;
    text-align: center;
  }

  nav ul li {
    margin-right: 1%;
    padding-right: 0.75rem;
  }

  nav ul li a {
    text-transform: uppercase;
    color:#0070bb;
    font-weight: 400;
    border-right: 0.063rem solid rgb(0, 112, 187);
    margin-right: 1%;
    padding-right: 0.75rem;
    text-decoration: none;
  }

  nav ul li a:hover {
    text-transform: uppercase;
    color:#272727;
    font-weight: 400;
    border-right: 0.063rem solid rgb(0, 112, 187);
    margin-right: 1%;
    padding-right: 0.75rem;
    text-decoration: none;
  }


  /* HERO*/


  .hero {
    background-image:url(../desktop-assets/bgAbout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem;
    justify-content: flex-end;
  }

  .hero a {
    border: 0.125rem solid white;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 0.75rem 1.3rem;
    transition-duration: 0.4s;
    text-decoration: none;
  }

  .hero a:hover {
    color: white;
    background-color: #0070bb;
    padding: 0.75rem 1.3rem;
    text-decoration: none;
  }



  /* ROW 1*/



  .row1, .row2facts {
    padding-top: 4.08%;
    padding-bottom: 3.5%;
  }

  .row1right {
    width: 59.42%;
    margin-left: 4.25rem;
  }

  .row1right p {
    margin-bottom: 2.375rem;
  }



  /* ROW 2*/


  .row2 {
    text-align: center;
    padding-bottom: 9%;
  }

  .row2col1 img, .row2col3 img, .row2col4 img {
    margin-bottom: 8%;
  }

  .row2col2 img {
    margin-bottom: 11%;
  }



  /* ROW 3*/


  .row3 {
    margin-bottom: 2%;
  }

  .row3 .years {
    color:#0070bb;
    justify-content: space-between;
  }

  .row3 span {
    font-size: 1.4rem;
  }

  .row3-1 {
    background-image: url(../desktop-assets/line.png);
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: space-between;
  }

  .row3-2 {
    padding: 5% 0;
    width: 66.4%;
    justify-content: center;
  }

  .row3-2right {
    text-align: left;
    padding-left: 5%;
    justify-content: center;
  }


  /* ROW 4*/


  .row4 {
    background-image: url(../desktop-assets/handshake.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7rem;
    justify-content: flex-end;
    margin-bottom: 5rem;
  }


  /*FOOTER*/



  footer {
    text-align: center;
  }

  .arrow {
    height: 10px;
    text-align: center;
  }

  footer h1 {
    text-align: left;
  }

  .categories {
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 1.5%;
  }

  .clientbutton {
    width: 30%;
    background-color: white;
    border: 0.125rem solid #0070bb;
    padding: 0.75rem 4rem;
    font-size: 1.1rem;
    transition-duration: 0.4s;
  }

  .clientbutton:hover {
    color: white;
    background-color: #0070bb;
    padding: 0.75rem 4rem;

  }

  .scroll {
    background-color: #b9d7eb;
    justify-content: space-between;
    padding: 2%;
    margin-bottom: 1.5%;
  }

  .footerrow3 {
    width: 68.3%;
    justify-content: center;
    margin-bottom: 5%;
  }

  .footerrow3 p {
    text-align: left;
    margin-right: 3%;
  }



  /* MEDIA QUERIES*/



/*MOBILE*/

@media screen and (min-width: 319px) and (max-width: 767px) {
    .mobile-hide {
        display:none;
    }
    body {
        font-size: 0.8rem;
        line-height: 1.1rem;
        position: relative;
    }
    h1 {
        font-size: 2rem;
      }
    
      h2 {
        font-size: 1.65rem;
      }
    
      h3 {
        font-size: 1.1rem;
        line-height: 1.5rem;
      }
    
      h5 {
        font-size: 1rem;
      }
      .row2facts {
        display: block;
      }
      .container {
        width: 80%;
      }
      header {
        padding: 7% 12%;
      }
      header img {
        content:url(../mobile-assets/logo.png);
        width: 87.5%;
      }
      .row4, .hero {
        justify-content: center;
        padding: 10%;
      }
      .hero {
        background-image: url(../mobile-assets/bgAbout.jpg);
        background-size: cover;
      }
      .herotxt, .row4txt {
        width: 64.5%;
        background-color:rgba(0, 0, 0, 0.8);
        padding: 0.8rem 0.3rem;
        text-align: center;
      }
      .hero a {
        font-size: 0.6rem;
        padding: 0.25rem 0.89rem;
      }
      .mobile {
        display:block;
      }
      .row2 {
        margin-top: 5%;
      }
      .row2col1 img{
        content:url(../mobile-assets/iconChart.png);
      }
      .row2col2 img{
        content:url(../mobile-assets/iconComputer.png);
      }
      .clientbutton {
        padding: 0.5rem 1rem;
        font-size: 0.7rem;
      }
    
      .clientbutton:hover {
        padding: 0.5rem 1rem;
      }
      .scroll {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5%;
      }
      .scroll img{
        width: 40%;
        height: 40%;
      }
      .arrow {
        display: none;
      }

  }


  /*TABLET/SMALL LAPTOP*/



  @media screen and (min-width: 767px) and (max-width: 1023px) {

    body {
    font-size: 0.9rem;
    line-height: 1.1rem;
    position: relative;
    }
    h1 {
    font-size: 1.7rem;
    }
    
    h2 {
    font-size: 1.85rem;
    }
    
    h3 {
    font-size: 1.31rem;
    line-height: 1.5rem;
    }
    
    h5 {
    font-size: 1.2rem;
    }
  .mobile {
    display:none;
  }
  .container {
    width: 80%;
  }
  header {
    padding: 8% 14%;
  }
  header img {
    content:url(../mobile-assets/logo.png);
    width: 87.5%;
  }
  nav {
    padding: 1.3rem 0rem;
  }
  nav img {
    content:url(../mobile-assets/navlogo.png);
  }

  nav ul {
    list-style: none;
    justify-content: flex-end;
    width: 62%;
    align-items: flex-end;
    text-align: center;
  }

  nav ul li {
    margin-right: 1%;
    padding-right: 1%;
    font-size: 0.87rem;
  }

  .row2facts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row2col1, .row2col2, .row2col3, .row2col4 {
    width: 40%;
    height: 40%;
    padding: 3%;
}
.row1 {
    display: none;
}
.row2 {
    margin-top: 5%;
    justify-content: center;
  }
  .contact p, .contact a {
    text-decoration: none;
    border-right: 0.063rem solid rgb(255, 255, 255);
    margin-right: 1%;
    color: white;
    padding-right: 0.55rem;
    font-size: 0.8rem;
  }
  .scroll {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
  }
  .scroll img{
    width: 40%;
    height: 40%;
  }
  .arrow {
    display: none;
  }
  .clientbutton {
    padding: 0.6rem 2rem;
    font-size: 0.85rem;
  }

  .clientbutton:hover {
    padding: 0.6rem 2rem;
  }
  
}


  /*LARGE SCREEN*/

@media screen and (min-width: 1023px) and (max-width: 1920px) {
    .mobile {
    display:none;
    }

}




